/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* mobile first */
body {
    width: 512px;
    border: 2px solid red;
    background-color: rgb(26, 29, 122);
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
}

/* Utility Class */
.text-center {
    text-align: center;
}
.white-text {
    color: white;
}
.text-uppercase {
    text-transform: uppercase;
}


.discord-banner {
    width: 100%;
}
.dis-pros {
    background-image: url('../img/background.png');
    background-size: cover;
    border: 1px;
    border-radius: 15px;
    margin: 30px 50px;
    padding: 50px 50px;
}
.cta {
    margin: 50px 20px;
    padding: 30px 50px;
    line-height: 1;
}
.h2-cta {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Bungee', sans-serif;
}
.div-bott {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin: 3%;
    font-family: 'Sigmar', sans-serif;
}
.link-button {
    width: 370px;
    padding: 15px;
    border-radius: 15px;
    font-size: 1rem;
    display: block;

}
.video-box {
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin: auto;
}
.video-show {
    margin: auto;
    border: 1px;
    border-radius: 15px;
    max-width: 100%;
    margin-top: 15px;
}

/*FONT*/
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.h2 {
    font-family: 'Bungee', sans-serif;
    line-height: 1;

}
.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.dis-pros{
    position: relative;
}
.pros-img {
    max-width: 150px;
    position: absolute;
    top: 0;
    left: 0;
    translate: 20% -60%;    
}
.open-bott {
    background-image: url('../img/background.png');
    background-size: cover;
    color: white;
    font-family: 'Sigmar',sans-serif;
}
.titolini {
    line-height: 1;
    font-size: 28px;
}